.experiencia {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 60px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    
}

.experiencia .subtitulo {
    color: #e7e7e7;
    max-width: 4ch;
}

.experiencia-texto {
    font-size: 1.7rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: white;
}

.empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    padding: 30px;
    background-color: black;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
}

.empresa::before {
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(blue, lightblue);
    position: absolute;
    top: 20px;
    left: -4;
}


.empresa-ano {
    position: absolute;
    top: 22px;
    width: 80px;
    left: -100px;
    color: #525252;
    font-size: 0.875rem;
}

.empresa-titulo {
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
}

.empresa-texto {
    font-size: 1.1rem;
    line-height: 1.4;
    color: white;
}

.empresa-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
}

.empresa-habilidades {
    font-size: 0.875rem;
    line-height: 1.4;
    border-radius: 4px;
    background: black;
    padding: 5px 10px;
}

@media (max-width: 800px) {
    .experiencia {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .experiencia .subtitulo {
        color: white;
    }
}

@media  (max-width: 600px) {
    .experiencia .subtitulo {
        max-width: 9ch;
    }
}