@charset "UTF-8";

.cont {
    width: 500px;
    height: 400px;
    background-color: blue;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
   
}

.container {
    position: relative;
    
}
